body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;

}

a {
	color:yellow;
}

/*Index Homepage*/
.geo-home {
  background-color:black;
  position: fixed;
  margin-left: 1200px;
  margin-top: 50px;
  }
.home-button {
  color: lime;
  background-color:black;
}

.title {
  color: magenta;
  background-color: black;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 40px;
}


.index {
  background-color: black;
}

.index-copy {
  background-color: black;
}

.index-intro {
  font-size:18px;
  margin-bottom:25vh;
  padding:10px;
  color: white;


}

.index-row {
  display:flex;
  flex-wrap: wrap;
  padding:10px;
  margin-bottom: 4px;
  margin-top: -200px;
  border-top:2px solid white;

}

.index-name {
  flex: 0 0 50%;
  color: white;
  cursor: pointer;

}

.index-layer {
  flex: 0 0 25%;
  color: white;
}

.index-tag {
  flex: 0 0 25%;
  color: white;
}

/*copper*/
.copper-container {
  
  display:flex;
    align-items:center;
    justify-content:center;

}

.copper-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 70%;
    
}



.copper {
  position: absolute;
  top:0px;
  left:0px;
  display: flex;
  width:100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

}

.label {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 20vw;
  color:#66ff99;
  text-align: center;
}

.copper-text {
  position: absolute;
  bottom: 30px;
    left: 220px;
    color: #66ff99;
}

/*dirt*/
.cloud-pattern {
  display: flex;
  flex-wrap: wrap;
  padding:10px;

}

.cloud-circle {
  width: 7vw;
  height: 14vh;
  background-image: linear-gradient(green, white, #8B4513);
  border-radius: 50%;
  text-align: center;
  padding-top: 35px;
  color: white;

}

/*discount*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12vw;
  color:yellow;
  text-align: center;
  padding-top: 10px;

}

.one {
  width: 200px;
  height:200px;
  background-color:yellow;
  top:-100%; right:-100%; left:-100%; bottom:-100%;
  margin-left: 100px;
  margin-top: 100px;
  z-index:0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 7vw;
  color:#66ff99;
  
  /*   add your animation name and settings here */
  animation-name:spinUGONE;
  animation-duration:7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
/*   add your starting state and your end state  */
@keyframes spinUGONE {
  
  0% {
    transform:rotate(0deg);
  }
  
  100% {
    transform:rotate(360deg);
  }
  
 }

.two {
  width: 200px;
  height:200px;
  background-color:magenta;
  position: fixed;
  top:-100%; right:-100%; left:-100%; bottom:-100%;
  margin:auto;
  z-index:0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 7vw;
  color:yellow;
  text-align: center;
  /*   add your animation name and settings here */
  animation-name:spinUGTWO;
  animation-duration:10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
/*   add your starting state and your end state  */
@keyframes spinUGTWO {
  
  0% {
    transform:rotate(0deg);
  }
  
  100% {
    transform:rotate(360deg);
  }
  
  
}

.three {
  width: 200px;
  height:200px;
  background-color:#66ff99;
  top:-100%; right:-100%; left:-100%; bottom:-100%;
  margin-left: 1150px;
  margin-top: 10px;
  z-index:0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 7vw;
  color:magenta;
  
  /*   add your animation name and settings here */
  animation-name:spinUGTHREE;
  animation-duration:5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
/*   add your starting state and your end state  */
@keyframes spinUGTHREE {
  
  0% {
    transform:rotate(0deg);
  }
  
  100% {
    transform:rotate(360deg);
  }
}


/*GPS*/

.circle-one {
  width: 200px;
  height:200px;
  background:linear-gradient(red, green, blue);
  position: fixed;
  top:-150%; right:-50%; left:-100%; bottom:-100%;
  margin:auto;
  border-radius: 100px;
  z-index:0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 7vw;
  color:yellow;
  text-align: center;
  /*   add your animation name and settings here */
  animation-name:spinUGGG;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
/*   add your starting state and your end state  */
@keyframes spinUGGG {
  
  0% {
    transform:rotate(0deg);
  }
  
  100% {
    transform:rotate(360deg);
  }
}
.circle-two {
  width: 200px;
  height:200px;
  background:linear-gradient(red, green, blue);
  position: fixed;
  top:-100%; right:-100%; left:-100%; bottom:-100%;
  margin:auto;
  border-radius: 100px;
  z-index:0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 7vw;
  color:yellow;
  text-align: center;
  /*   add your animation name and settings here */
  animation-name:spinUGPP;
  animation-duration:6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
/*   add your starting state and your end state  */
@keyframes spinUGPP {
  
  0% {
    transform:rotate(0deg);
  }
  
  100% {
    transform:rotate(360deg);
  }

}

.circle-three {
  width: 200px;
  height:200px;
  background:linear-gradient(red, green, blue);
  position: fixed;
  top:-100%; right:-100%; left:-50%; bottom:-150%;
  margin:auto;
  border-radius: 100px;
  z-index:0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 7vw;
  color:yellow;
  text-align: center;
  /*   add your animation name and settings here */
  animation-name:spinUGSS;
  animation-duration:10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
/*   add your starting state and your end state  */
@keyframes spinUGSS {
  
  0% {
    transform:rotate(0deg);
  }
  
  100% {
    transform:rotate(360deg);
  }
}
.g {
  width: 200px;
  height:200px;
  position: fixed;
  top:-100%; right:-100%; left:-119%; bottom:-100%;
  margin:auto;
  border-radius: 100px;
  z-index:0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15vw;
  color:green;
}
.p {
  width: 200px;
  height:200px;
  position: fixed;
  top:-150%; right:-100%; left:-148%; bottom:-100%;
  margin:auto;
  border-radius: 100px;
  z-index:0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15vw;
  color:red;
}
.s {
  width: 200px;
  height:200px;
  position: fixed;
  top:-100%; right:-100%; left:-89%; bottom:-150%;
  margin:auto;
  border-radius: 100px;
  z-index:0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15vw;
  color:blue;
}


/*ip address*/

.ip {
  background-color:magenta;
  height:100vh;
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;

}

.ip-text {
  font-size:14vw;
  text-align: center;
  color: white;


}

/*lithium*/

.lithium {
  position: relative;
  text-align: center;
  display: flex;
  width:100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
 

}

.battery img { 
  width: 100%;
  object-fit: fill;
}

.charging {
  color: red;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  -webkit-animation: blue 4s infinite;
  animation: blue 4s infinite;
}

@-webkit-keyframes blue {
    0%   {left:-300px; top:50px;}
    25%  { left:100px; top:50px;}
    50%  {left:-300px; top:50px;}
    75%  {left:100px; top:50px;}
    100% {left:-300px; top:50px;}
}


.charging-two {
  color: yellow;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  position: absolute;
    position: relative;
  -webkit-animation: violet 4s infinite;
  animation: violet 4s infinite;
}

@-webkit-keyframes violet {
    0%   {left:30px; top:100px;}
    25%  {left:-400px; top:100px;}
    50%  {left:30px; top:100px;}
    75%  {left:-400px; top:100px;}
    100% {left:30px; top:100px;}
}



.charged {
  color: green;
  top: 75%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  position: absolute;
  position: relative;
  -webkit-animation: magenta 4s infinite;
  animation: magenta 4s infinite;
}

@-webkit-keyframes magenta {
    0%   {left:-500px; top:200px;}
    25%  {left:10px; top:200px;}
    50%  {left:-500px; top:200px;}
    75%  {left:10px; top:200px;}
    100% {left:-500px; top:200px;}
}


/*checkers*/
.checkers {
  width:100vw;
  height:100vh;
  display:flex;
  flex-wrap:wrap;


}

.checkers-black {
  flex:0 0 50%;
  height:50vh;
  background-color:black;

}

.checkers-white {
  flex:0 0 50%;
  height:50vh;
  background-color:white;

}


/*checkers type*/

.checkers-type {
margin-left:32%;
margin-top:17%;
padding: 10px;
position: fixed;



}

.checkers-text {
width:480px;
align-items: center;
font-size: 25vh;
color: lime;
text-align: center;
border-style: solid;
border-width: 10px;
border-radius: 5px;

}

/*outline*/

.layers {
  

}

.inner-core {
  height: 40vh;
  width: 100%;
  background-color: yellow;
  color:white;
  align-content: space-between;
  font-family: Helvetica,Arial,sans-serif;
  text-align: center;
  padding-top: 170px;
  font-size: 7vh;

}

.outer-core {
  font-size:10vh;
  text-align: center;
  width:100%;
  color:red;
  background-color: orange;
  padding: 8px;
}

.mantle {
  font-size: 15vh;
  text-align: center;
  width:100%;
  color:magenta;
  background-color: purple;
  padding: 35px;
}

.crust {
  font-size: 25vh;
  text-align: center;
  width:100%;
  color:lime;
  background-color: blue;
  
 

}

/*Specks*/

.specks-containers {
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: center;
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}


.motion-one {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #ff7600;
  position: relative;
  -webkit-animation: circle 4s infinite;
  animation: circle 4s infinite;
}

@-webkit-keyframes circle {
    0%   {border: 2px solid orange; left:500px; top:500px;}
    25%  {border: 2px solid red; left:800px; top:200px;}
    50%  {border: 2px solid yellow; left:200px; top:60px;}
    75%  {border: 2px solid orange; left:50px; top:200px;}
    100% {border: 2px solid orange; left:0px; top:0px;}
}

.motion-two {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #ff7600;
  position: relative;
  -webkit-animation: pink 4s infinite;
  animation: pink 4s infinite;
}

@-webkit-keyframes pink {
    0%   {border: 2px solid orange; left:1500px; top:500px;}
    25%  {border: 2px solid red; left:160px; top:10px;}
    50%  {border: 2px solid yellow; left:200px; top:60px;}
    75%  {border: 2px solid orange; left:100px; top:100px;}
    100% {border: 2px solid orange; left:1150px; top:150px;}
}

.motion-three {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #ff7600;
  position: relative;
  -webkit-animation: orange 4s infinite;
  animation: orange 4s infinite;
}

@-webkit-keyframes orange {
    0%   {border: 2px solid orange; left:500px; top:500px;}
    25%  {border: 2px solid red; left:900px; top:200px;}
    50%  {border: 2px solid yellow; left:200px; top:60px;}
    75%  {border: 2px solid orange; left:50px; top:600px;}
    100% {border: 2px solid orange; left:200px; top:450px;}
}

.motion-four {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #ff7600;
  position: relative;
  -webkit-animation: red 4s infinite;
  animation: red 4s infinite;
}

@-webkit-keyframes red {
    0%   {border: 2px solid orange; left:1100px; top:500px;}
    25%  {border: 2px solid red; left:400px; top:200px;}
    50%  {border: 2px solid yellow; left:200px; top:60px;}
    75%  {border: 2px solid orange; left:1000px; top:600px;}
    100% {border: 2px solid orange; left:200px; top:300px;}
}

.motion-five {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #ff7600;
  position: relative;
  -webkit-animation: lime 4s infinite;
  animation: lime 4s infinite;
}

@-webkit-keyframes lime {
    0%   {border: 2px solid orange; left:100px; top:50px;}
    25%  {border: 2px solid red; left:1400px; top:300px;}
    50%  {border: 2px solid yellow; left:200px; top:60px;}
    75%  {border: 2px solid orange; left:100px; top:400px;}
    100% {border: 2px solid orange; left:800px; top:300px;}
}

.motion-six{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #ff7600;
  position: relative;
  -webkit-animation: yellow 4s infinite;
  animation: yellow 4s infinite;
}

@-webkit-keyframes yellow {
    0%   {border: 2px solid orange; left:1300px; top:200px;}
    25%  {border: 2px solid red; left:400px; top:200px;}
    50%  {border: 2px solid yellow; left:200px; top:60px;}
    75%  {border: 2px solid orange; left:1300px; top:600px;}
    100% {border: 2px solid orange; left:100px; top:300px;}
}




/*metadata*/
.table {
  
  display:flex;
    align-items:center;
    justify-content:center;

}

.table img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 50%;
    
}

.box {
  width: 200px;
  height:200px;
  background-color: red;
  margin-left: 50px;
  /*   add your animation name and settings here */
  animation-name:spinUG;
  animation-duration:2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*   add your starting state and your end state  */
@keyframes spinUG {
  
  from {
    width:50px;
  }
  
  to {
    width:400px;
  }
  
  
}
/*box-two*/
.box-two {
  width: 200px;
  height:200px;
  background-color: yellow;
  margin-top:0px;
  /*   add your animation name and settings here */
  animation-name:spinUGG;
  animation-duration:2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: horizontal;
  animation-direction:horizontal;
}

/*   add your starting state and your end state  */
@keyframes spinUGG {
  
  from {
    height:50px;
  }
  
  to {
    height:400px;
  }
  
  
}

/*box-three*/

.box-three {
  width: 200px;
  height:200px;
  background-color: green;
  margin-top:30px;
  /*   add your animation name and settings here */
  animation-name:spinUGG;
  animation-duration:2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: horizontal;
  animation-direction:horizontal;
}

/*   add your starting state and your end state  */
@keyframes spinUGG {
  
  from {
    height:50px;
  }
  
  to {
    height:400px;
  }
  
  
}


