body {
  background-image: linear-gradient(aqua, yellow);

}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}






/* When you first edit this file, you can delete everything below here. Remember you should use body to target all elements on the page first and then override them later  */

/* EXAMPLE CODE PLEASE REMOVE */


.logo {
	display:flex;
	flex:0 0 10%;
	flex-wrap: wrap;
	size: 10px;
	margin-top:-700px;


}

.logo img {
	width: 50%;
}

.center {
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 50%;

}


.info {
	font-family: Arial,light,sans-serif;
	font-size: 25px;
	color: black;
	text-align: center;
	display:flex;
	flex:0 0 10%;
	flex-wrap: wrap;
	margin-top:600px;
	margin-left: 150px;
	margin-right: 150px;

}


.nav{
	width: 100%;
	font-family: Arial,light,sans-serif;
	padding:10px;
	position:fixed;
	top:10px;
	left:10px;
}

.nav-item{
	background:black;
	display:inline-block;
	padding:10px;
	border-radius:5px;
	color:#000;
	text-decoration: none;
	color:white;
	cursor:pointer;


}

.nav-header{
	color:magenta;
	display:inline-block;
}





